<header>
  <p class="caption" (click)="handleViewChange(currentView - 1)" *ngIf="currentView !== 0 && currentView !== 3">previous</p>
  <h1>Silence Seeker</h1>
  <p class="caption skip" (click)="handleViewChange(currentView + 1)" *ngIf="currentView !== 0 && currentView !== 3">skip</p>
</header>

<div class="view-container" [ngSwitch]="currentView">
  <app-intoduction (viewEmitter)="handleViewChange($event)" *ngSwitchCase="0"></app-intoduction>
  <app-info (viewEmitter)="handleViewChange($event)" *ngSwitchCase="1"></app-info>
  <app-time-and-place (viewEmitter)="handleViewChange($event)" *ngSwitchCase="2"></app-time-and-place>
  <app-questions (viewEmitter)="handleViewChange($event)" *ngSwitchCase="3"></app-questions>
  <app-postcards [ngStyle]="{'margin-right.px': sideBarOffset}" (viewEmitter)="handleViewChange($event)" *ngSwitchCase="4"></app-postcards>
  <img src="./assets/images/bg.png" alt="background">
</div>
