@import '../assets/styles/variables';

header {
  padding: 48px 0 24px;
  width: 100%;
  
  h1 {
    text-align: center;
    margin: 0;
    letter-spacing: 4.5px;
  }

  p {
    position: absolute;
    top: 0;
    margin: 10px;
  }
}

.view-container {
  height: calc(812px - 70px);
}