@import '../assets/styles/variables';

header {
  padding: 48px 0 24px;
  width: 100%;
  background: #fff;
  
  h1 {
    text-align: center;
    margin: 0;
    letter-spacing: 4.5px;
  }

  p {
    position: absolute;
    top: 0;
    margin: 10px;
  }
}

.view-container {
  position: relative;
  height: calc(630px - 94px);
  background: none;

  app-intoduction,
  app-info,
  app-time-and-place,
  app-questions,
  app-postcards {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    z-index: 2;
  }
}

img {
  height: auto;
  width: 375px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}