<header>
  <p (click)="handleViewChange(currentView - 1)" *ngIf="currentView !== 0">Back!</p>
  <h1>Silence Seeker</h1>
</header>

<div class="view-container" [ngSwitch]="currentView">
  <app-intoduction (viewEmitter)="handleViewChange($event)" *ngSwitchCase="0"></app-intoduction>
  <app-info (viewEmitter)="handleViewChange($event)" *ngSwitchCase="1"></app-info>
  <app-time-and-place (viewEmitter)="handleViewChange($event)" *ngSwitchCase="2"></app-time-and-place>
  <app-questions (viewEmitter)="handleViewChange($event)" *ngSwitchCase="3"></app-questions>
  <app-postcards (viewEmitter)="handleViewChange($event)" *ngSwitchCase="4"></app-postcards>
</div>
