header {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  height: 30px;
  padding: 20px 0;
  width: 100%;
  
  h1 {
    text-align: center;
    margin: 0;
  }
}

.view-container {
  height: calc(812px - 70px);
}