@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

h2 {
  text-align: center;
  color: $dark-deactive;
  font-weight: 700;
}

h2:first-child {
  margin: 48px 0 24px;
}

h2:first-child, h2:nth-child(4), h2:nth-child(6) {
  color: #393838;
}

.dates {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  input {
    @include button;
    background: transparent;
    border: 1px solid $dark-deactive;
    box-shadow: 2px 2px 2px $dark-deactive;
    color: $dark-deactive;

    &:hover {
      background: transparent;
    }
  }
}

.season-container {
  display: flex;
  flex-direction: row;

  .button {
    @include button;
  }
}

.season-container, .national-parks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .season, .park {
    @include tags;
  }
}

.continue {
  @include button;
  width: 335px;
  margin: 24px auto 0;

  &.deactive {
    background: $deactive;
  }
}