<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos sit reiciendis beatae! Enim, provident? Ullam nostrum
  ipsum culpa, a explicabo maxime in doloribus repellendus possimus. Dolorum aperiam fugiat veritatis aliquid.
  Totam aliquam facere, cumque corporis ut quibusdam dolor eos facilis molestiae quisquam excepturi ratione harum
  molestias mollitia modi quod? Praesentium, similique autem. Nihil eos iste rem accusantium perspiciatis reiciendis
  inventore.
  Atque in cumque velit itaque nostrum incidunt. Assumenda nobis quod ullam eligendi tempora ea dolores perferendis
  voluptatum atque facere possimus velit, tenetur recusandae. Exercitationem, autem quod ratione culpa molestias non.
  Numquam illum obcaecati dolore, voluptatum, quia sint maxime incidunt culpa fugiat ullam, explicabo voluptate iure
  nostrum veritatis eveniet eligendi quod id officiis. Eius maiores ipsa, modi deleniti dolorem tenetur odit!
  Facilis dolorem aut, quia iure harum fuga quibusdam, doloremque aliquid, vero esse est nobis! Enim dolore porro sit
  tempore modi, ipsum eius ea odit repudiandae dicta doloremque unde! Eligendi, obcaecati!</p>
<button (click)="changeView(2)">Continue</button>
