@import '../../assets/styles/mixins';

button {
  @include button;
  position: fixed;
  bottom: 75px;
  left: calc(50% - 64.5px);
}

.caption {
  font-size: $font-caption;
  position: absolute;
  top: -118px;
  left: -23px;
  margin: 10px;

  &.skip {
    right: -24px;
    left: auto;
  }
}