@import '../../assets/styles/mixins';

button {
  @include button;
  position: absolute;
  bottom: 98px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.caption {
  font-size: $font-caption;
  position: absolute;
  top: -94px;
  margin: 10px;

  &.skip {
    right: 10px;
  }
}