@import '../../assets/styles/mixins';

button {
  @include button;
  position: fixed;
  bottom: 98px;
  left: calc(50% - 64.5px);
}

.caption {
  font-size: $font-caption;
  position: absolute;
  top: -94px;
  margin: 10px;

  &.skip {
    right: 10px;
  }
}