@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.introduction-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  align-items: center;

  .caption {
    font-size: $font-caption;
    margin: 0;
  }

  button {
    @include button;
    display: flex;
    align-items: center;

    &.text-button {
      color: #000;
      background: transparent;
      border: none;
    }
  }
}