@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.introduction-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  align-items: center;
  text-align: center;

  .caption {
    font-size: $font-caption;
    margin: 0;
  }

  .bold {
    font-weight: 700;
  }

  h2 {
    margin: 96px 0 24px;
  }

  button {
    @include button;
    width: 335px;

    &.text-button {
      @include text-button;
      position: fixed;
      bottom: 48px;
    }
  }
}