@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.trail-wrapper {
  position: fixed;
  overflow: hidden;
  top: 90px;
  z-index: 3;
  background: #fff;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 375px;
  height: 590px;
  padding: 24px;
  box-sizing: border-box;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0px -5px 6px $dark-deactive;

  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    margin: 4px;
    cursor: pointer;
  }

  .content {
    overflow-y: auto;
    padding: 24px 0;
    height: 466px;

    img {
      height: auto;
      width: 100%;
    }

    .start {
      margin-top: 24px;

      p {
        font-size: $font-small;
      }

      h3, h3.primary {
        margin: 0;
        font-weight: 700;

        .primary {
          color: $primary-active;
        }
      }

      p, h3 {
        margin: 0;
      }
    }

    .traffic-light {
      margin: 0;
      padding: 24px 0;
      display: flex;
      flex-direction: row;
      font-size: $font-caption;
      font-weight: 700;
      align-items: center;

      .green {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background: $primary-default;
      }

      .yellow {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background: yellow;
      }

      .red {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background: red;
      }
    }

    .links {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0;

      .link {
        @include icon-button;
        padding: 12px;
        color: $primary-default;
        font-size: $font-caption;
        background: $light;
        border: 2px solid $primary-default;
        display: flex;
        align-items: center;

        &:hover, &:active {
          background: $light;
        }
      }
    }

    .lorem {
      font-size: $font-small;
    }

    .charasteristics {
      h3 {
        font-weight: 700;
      }

      .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 12px;

        .tag {
          @include icon-button;
          cursor: default;
          background: transparent;
          border: none;
          box-shadow: none;
          width: 24px;
          height: 24px;
          margin: 12px;
          padding: 0;

          &:hover, &:active {
            background: transparent;
            border: none;
            box-shadow: none;
          }
        }

        &.parking {
          span {
            display: flex;
            align-items: center;
          }

          .bold {
            color: $primary-default;
            font-weight: 700;
          }
        }
      }
    }
  }
}
