@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

h2 {
  text-align: center;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 80px;
    text-align: center;

    button {
      @include icon-button;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      align-items: center;
    }

    p {
      font-size: $font-caption;

      &.selected {
        color: $primary-active;
      }
    }
  }
}